* { box-sizing: border-box; }

/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* BODY */
/* Changing the main font and background colour */
body {
  margin: 0;
  background-color: #f6f3e8;
  font-family: Poppins, sans-serif;
}

/* STYLE */
h1 {
	font-size: 56px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}
h2 {
	font-size: 40px;
	text-align: center;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 24px;
}
p {
	font-size: 16px;
	margin-bottom: 20px;
}
/*caption*/
h6 {
	font-size: 12px;
	margin: 0px;
}

/* MENU */
/* Changing the background color for the navigation bar */
.navbar {
	width: 100%;
	height: 75px;
	padding: 0px;

	z-index: 1;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	position: fixed;

	border: 2px solid #000;
	background-color: #f6f3e8;
}
.navbar-brand {
	max-width: 75px;
	height: auto;
	margin: 0px;
	padding: 0px;
	padding-right: 8px;
}
.nav-link {
	border-bottom: 0px;
	display: inline-block;

	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	color: #000;
}
.nav-link:hover{
	font-weight: 900;
	color: #000;	
}

li{
	font-size: 20px;
}

.dropdown-menu {	
	border: 2px solid #000;
	border-radius: 15px;

	z-index: -1;

	background-color: #f6f3e8;
}
.dropdown-item {
	width: 500px;
	border-bottom: 2px solid #000;
	display: inline-block;

	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	background-color: #f6f3e8;
}
.dropdown-item:hover{
	font-weight: 900;
	color: #000;	

	background-color: #f6f3e8;
}
.dropdown-item-last {
	width: 500px;
	border-bottom: 0px;
	display: inline-block;

	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #000;	

	background-color: #f6f3e8;
}
.dropdown-item-last:hover{
	font-weight: 900;
	color: #000;	

	background-color: #f6f3e8;
}

/* FOOTER */
/* Effect on social media buttons */
footer a:hover {
	opacity: .5;
}

/* MAIN */
main {
	width: 100%;
	height: auto;
	padding-top: 75px;
	
	display: flex;
	flex-direction: column;
}

/* HOMEPAGE */
.section-wrapper{
	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-items: center;

	background-color: #b9e9ff;	
}
.section-container{
	max-width: 850px;
	min-height: 700px;
	margin: 0 auto;
	padding: 24px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	background-image: url(images/sneaks-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

	background-color: #7dafe0;
}

.button-section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button-cta{
	width: 405px;
	margin: 16px;
	padding: 24px;
	border: 2px solid #000;
	border-radius: 50px;
	display: inline-block;

	font-size: 16px;
	font-weight: 900;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	background-color: #f6f3e8;
}
.button-cta:hover {
	border-radius: 50px;

    font-style: none;
	color: #000;
    text-decoration: none;

	background-color: #7dafe0;
}
.button-socials{
	width: 200px;
	margin: 8px;
	padding: 24px;
	border: 2px solid #000;
	border-radius: 50px;
	display: inline-block;

	font-size: 16px;
	font-weight: 900;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	background-color: #f6f3e8;
}
.button-socials:hover {
	font-style: none;
	color: #000;
    text-decoration: none;

	background-color: #7dafe0;
}

/* ABOUT */
.align-items-left {
	width: 100%;
    height: auto;
    padding: 24px;
    padding-top: 99px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-wrapper-100 {
	width: 100%;
	min-height: 75vh;
	padding: 24px;
	margin-top: 24px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	border: 2px solid #000;
	border-radius: 25px;
}
.about-wrapper-100-noborder {
	width: 100%;
	min-height: 75vh;
	padding: 0px;
	margin-top: 24px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	border: 0px solid #000;
}
.about-wrapper-50 {
	width: 100%;
	min-height: 80vh;
	padding: 0px;
	margin-top: 24px;

	display: flex;
	flex-direction: row;
	align-items: center;

	border: 0px solid #000;
}

.identity-content {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.identity-content-start {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.carousel-caption {
	color: #000;
	background-color: #b9e9ff;
	border-radius: 25px;
}

.vv-wrapper {
	width: 100%;
	height: 80vh;
	margin-top: 24px;

	display: flex;
	flex-direction: row;
}
.vv-content {
	width: 50%;
	height: 80vh;
	padding: 24px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	border: 2px solid #000;
	border-radius: 20px;
}
.content-left {
	margin-right: 24px;
}

.social-content {
	width: 100%;
	height: auto;
	padding: 24px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	border: 0px solid #000;
	border-radius: 20px;

	background-color: #E2E1D6 ;
}
.content-first {
	margin-bottom: 24px;
}

.card-wraper {
	width: 100%;
	height: auto;
	margin-top: 24px;

	display: flex;
	flex-direction: row;
}
.ig-card {
	width: 25%;
	min-height: 400px;
	margin: 12px;

	border: 0px solid #000;
	border-radius: 20px;

	background-color: #f6f3e8;
}
.tk-card {
	width: 25%;
	min-height: 700px;
	margin: 12px;

	border: 0px solid #000;
	border-radius: 20px;

	background-color: #f6f3e8;
}
.card-img {
	width: 100%;
	min-height: 200px;

	border-radius: 20px 20px 0px 0px;
}
.card-body {
	width: 100%;
	min-height: auto;
	padding: 8px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.card-footer {
	width: 100%;
	height: 50px;
	padding: 8px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 20px;
	background-color: rgb(246, 243, 232, 0.0);
}
.card-btn {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	font-weight: 900;
	color: #000;

	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	border: 2px solid #000;
	border-radius: 50px;
	background-color: #f6f3e8;
}
.card-btn:hover{
	color: #000;

	background-color: #7dafe0;
}

.article-more_info {
	width: 100%;
	height: auto;
	padding: 0;
	margin-top: 24px;
}

.calendar-content {
	width: 100%;
	padding: 0px;
	margin-top: 24px;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;

	border-top: 2px solid #E2E1D6;
}
.engagement-content {
	margin: 0px 24px;
}

.exemption-img {
	width: auto;
	height: 90vh;
}

.corporate-main {
	width: 100%;
	height: auto;
	margin-top: 24px;

	display: flex;
	flex-direction: row;
}
.side-nav {
	max-width: 300px;
	height: auto;
	margin: 0;
	margin-right: 24px;
	padding: 24px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: sticky;
	top: 100px;

	border: 2px solid #000;
	border-radius: 20px;
}

.side-nav-link {
	border-bottom: 0px;
	display: inline-block;
	padding: 4px 0px;

	font-size: 16px;

	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	color: #000;
}

.side-nav-link:hover {
	font-weight: 900;
	color: #000;
}
.side-nav-link-sub {
	border-bottom: 0px;
	display: inline-block;
	padding-bottom: 4px;

	font-size: 12px;

	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	color: #000;
}

.side-nav-link-sub:hover {
	font-weight: 900;
	color: #000;
}

.side-nav-sub {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.general-wraper {
	width: 100%;
	height: auto;
	margin: 0;
	padding-left: 24px;
}
.invest-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.invest-container-content {
	width: 50%;
	height: auto;
	padding: 24px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.team_name-container {
	display: flex;
	flex-direction: row;
}
.invest-img {
	width: 50%;
	height: auto;
	padding: 24px;
}
